[submodule "d3"]
	path = d3
	url = https://github.com/mbostock/d3.git
[submodule "x18n"]
	path = x18n
	url = https://github.com/heavywatal/x18n.git
	branch = gitsubmodule_https
[submodule "i18next"]
	path = i18next
	url = https://github.com/i18next/i18next.git
